body.rtl,
html[lang="fa-IR"] body.rtl,
html[lang="ar"] body.rtl,
html[lang="ary"] body.rtl,
html[lang="azb"] body.rtl,
html[lang="haz"] body.rtl,
html[lang="ps"] body.rtl,
html[lang="ur"] body.rtl {
  font-family: IRANSans , Tahoma, Arial, sans-serif;
}

body.rtl button, body.rtl input[type="button"],
body.rtl input[type="reset"],
body.rtl input[type="submit"],
body.rtl input,
body.rtl select,
body.rtl textarea,
body.rtl blockquote cite,
body.rtl blockquote small,
body.rtl .post-password-form label,
body.rtl .main-navigation .menu-item-description,
body.rtl .post-navigation .meta-nav, body.rtl .post-navigation .post-title,
body.rtl .pagination,
body.rtl .image-navigation,
body.rtl .comment-navigation,
body.rtl .site-title,
body.rtl .site-description,
body.rtl .widget-title,
body.rtl .widget_calendar caption,
body.rtl .widget_rss .rss-date,
body.rtl .widget_rss cite,
body.rtl .author-heading,
body.rtl .entry-footer,
body.rtl .page-title,
body.rtl .page-links,
body.rtl .entry-caption,
body.rtl .entry-title,
body.rtl .comments-title,
body.rtl .comment-reply-title,
body.rtl .comment-reply-link,
body.rtl .comment-metadata,
body.rtl .pingback .edit-link,
body.rtl .comment-list .reply a,
body.rtl .comment-form label,
body.rtl .comment-notes,
body.rtl .comment-awaiting-moderation,
body.rtl .logged-in-as, body.rtl .form-allowed-tags,
body.rtl .no-comments, body.rtl .wp-caption-text,
body.rtl .gallery-caption,
html[lang="fa-IR"] body.rtl button,
html[lang="fa-IR"] body.rtl input[type="button"],
html[lang="fa-IR"] body.rtl input[type="reset"],
html[lang="fa-IR"] body.rtl input[type="submit"],
html[lang="fa-IR"] body.rtl input,
html[lang="fa-IR"] body.rtl select,
html[lang="fa-IR"] body.rtl textarea,
html[lang="fa-IR"] body.rtl blockquote cite,
html[lang="fa-IR"] body.rtl blockquote small,
html[lang="fa-IR"] body.rtl .post-password-form label,
html[lang="fa-IR"] body.rtl .main-navigation .menu-item-description,
html[lang="fa-IR"] body.rtl .post-navigation .meta-nav,
html[lang="fa-IR"] body.rtl .post-navigation .post-title,
html[lang="fa-IR"] body.rtl .pagination,
html[lang="fa-IR"] body.rtl .image-navigation,
html[lang="fa-IR"] body.rtl .comment-navigation,
html[lang="fa-IR"] body.rtl .site-title,
html[lang="fa-IR"] body.rtl .site-description,
html[lang="fa-IR"] body.rtl .widget-title,
html[lang="fa-IR"] body.rtl .widget_calendar caption,
html[lang="fa-IR"] body.rtl .widget_rss .rss-date,
html[lang="fa-IR"] body.rtl .widget_rss cite,
html[lang="fa-IR"] body.rtl .author-heading,
html[lang="fa-IR"] body.rtl .entry-footer,
html[lang="fa-IR"] body.rtl .page-title,
html[lang="fa-IR"] body.rtl .page-links,
html[lang="fa-IR"] body.rtl .entry-caption,
html[lang="fa-IR"] body.rtl .entry-title,
html[lang="fa-IR"] body.rtl .comments-title,
html[lang="fa-IR"] body.rtl .comment-reply-title,
html[lang="fa-IR"] body.rtl .comment-reply-link,
html[lang="fa-IR"] body.rtl .comment-metadata,
html[lang="fa-IR"] body.rtl .pingback .edit-link,
html[lang="fa-IR"] body.rtl .comment-list .reply a,
html[lang="fa-IR"] body.rtl .comment-form label,
html[lang="fa-IR"] body.rtl .comment-notes,
html[lang="fa-IR"] body.rtl .comment-awaiting-moderation,
html[lang="fa-IR"] body.rtl .logged-in-as,
html[lang="fa-IR"] body.rtl .form-allowed-tags,
html[lang="fa-IR"] body.rtl .no-comments,
html[lang="fa-IR"] body.rtl .wp-caption-text,
html[lang="fa-IR"] body.rtl .gallery-caption,
html[lang="ar"] body.rtl button,
html[lang="ar"] body.rtl input[type="button"],
html[lang="ar"] body.rtl input[type="reset"],
html[lang="ar"] body.rtl input[type="submit"],
html[lang="ar"] body.rtl input,
html[lang="ar"] body.rtl select,
html[lang="ar"] body.rtl textarea,
html[lang="ar"] body.rtl blockquote cite,
html[lang="ar"] body.rtl blockquote small,
html[lang="ar"] body.rtl .post-password-form label,
html[lang="ar"] body.rtl .main-navigation .menu-item-description,
html[lang="ar"] body.rtl .post-navigation .meta-nav,
html[lang="ar"] body.rtl .post-navigation .post-title,
html[lang="ar"] body.rtl .pagination,
html[lang="ar"] body.rtl .image-navigation,
html[lang="ar"] body.rtl .comment-navigation,
html[lang="ar"] body.rtl .site-title,
html[lang="ar"] body.rtl .site-description,
html[lang="ar"] body.rtl .widget-title,
html[lang="ar"] body.rtl .widget_calendar caption,
html[lang="ar"] body.rtl .widget_rss .rss-date,
html[lang="ar"] body.rtl .widget_rss cite,
html[lang="ar"] body.rtl .author-heading,
html[lang="ar"] body.rtl .entry-footer,
html[lang="ar"] body.rtl .page-title,
html[lang="ar"] body.rtl .page-links,
html[lang="ar"] body.rtl .entry-caption,
html[lang="ar"] body.rtl .entry-title,
html[lang="ar"] body.rtl .comments-title,
html[lang="ar"] body.rtl .comment-reply-title,
html[lang="ar"] body.rtl .comment-reply-link,
html[lang="ar"] body.rtl .comment-metadata,
html[lang="ar"] body.rtl .pingback .edit-link,
html[lang="ar"] body.rtl .comment-list .reply a,
html[lang="ar"] body.rtl .comment-form label,
html[lang="ar"] body.rtl .comment-notes,
html[lang="ar"] body.rtl .comment-awaiting-moderation,
html[lang="ar"] body.rtl .logged-in-as,
html[lang="ar"] body.rtl .form-allowed-tags,
html[lang="ar"] body.rtl .no-comments,
html[lang="ar"] body.rtl .wp-caption-text,
html[lang="ar"] body.rtl .gallery-caption,
html[lang="ary"] body.rtl button,
html[lang="ary"] body.rtl input[type="button"],
html[lang="ary"] body.rtl input[type="reset"],
html[lang="ary"] body.rtl input[type="submit"],
html[lang="ary"] body.rtl input,
html[lang="ary"] body.rtl select,
html[lang="ary"] body.rtl textarea,
html[lang="ary"] body.rtl blockquote cite,
html[lang="ary"] body.rtl blockquote small,
html[lang="ary"] body.rtl .post-password-form label,
html[lang="ary"] body.rtl .main-navigation .menu-item-description,
html[lang="ary"] body.rtl .post-navigation .meta-nav,
html[lang="ary"] body.rtl .post-navigation .post-title,
html[lang="ary"] body.rtl .pagination,
html[lang="ary"] body.rtl .image-navigation,
html[lang="ary"] body.rtl .comment-navigation,
html[lang="ary"] body.rtl .site-title,
html[lang="ary"] body.rtl .site-description,
html[lang="ary"] body.rtl .widget-title,
html[lang="ary"] body.rtl .widget_calendar caption,
html[lang="ary"] body.rtl .widget_rss .rss-date,
html[lang="ary"] body.rtl .widget_rss cite,
html[lang="ary"] body.rtl .author-heading,
html[lang="ary"] body.rtl .entry-footer,
html[lang="ary"] body.rtl .page-title,
html[lang="ary"] body.rtl .page-links,
html[lang="ary"] body.rtl .entry-caption,
html[lang="ary"] body.rtl .entry-title,
html[lang="ary"] body.rtl .comments-title,
html[lang="ary"] body.rtl .comment-reply-title,
html[lang="ary"] body.rtl .comment-reply-link,
html[lang="ary"] body.rtl .comment-metadata,
html[lang="ary"] body.rtl .pingback .edit-link,
html[lang="ary"] body.rtl .comment-list .reply a,
html[lang="ary"] body.rtl .comment-form label,
html[lang="ary"] body.rtl .comment-notes,
html[lang="ary"] body.rtl .comment-awaiting-moderation,
html[lang="ary"] body.rtl .logged-in-as,
html[lang="ary"] body.rtl .form-allowed-tags,
html[lang="ary"] body.rtl .no-comments,
html[lang="ary"] body.rtl .wp-caption-text,
html[lang="ary"] body.rtl .gallery-caption,
html[lang="azb"] body.rtl button,
html[lang="azb"] body.rtl input[type="button"],
html[lang="azb"] body.rtl input[type="reset"],
html[lang="azb"] body.rtl input[type="submit"],
html[lang="azb"] body.rtl input,
html[lang="azb"] body.rtl select,
html[lang="azb"] body.rtl textarea,
html[lang="azb"] body.rtl blockquote cite,
html[lang="azb"] body.rtl blockquote small,
html[lang="azb"] body.rtl .post-password-form label,
html[lang="azb"] body.rtl .main-navigation .menu-item-description,
html[lang="azb"] body.rtl .post-navigation .meta-nav,
html[lang="azb"] body.rtl .post-navigation .post-title,
html[lang="azb"] body.rtl .pagination,
html[lang="azb"] body.rtl .image-navigation,
html[lang="azb"] body.rtl .comment-navigation,
html[lang="azb"] body.rtl .site-title,
html[lang="azb"] body.rtl .site-description,
html[lang="azb"] body.rtl .widget-title,
html[lang="azb"] body.rtl .widget_calendar caption,
html[lang="azb"] body.rtl .widget_rss .rss-date,
html[lang="azb"] body.rtl .widget_rss cite,
html[lang="azb"] body.rtl .author-heading,
html[lang="azb"] body.rtl .entry-footer,
html[lang="azb"] body.rtl .page-title,
html[lang="azb"] body.rtl .page-links,
html[lang="azb"] body.rtl .entry-caption,
html[lang="azb"] body.rtl .entry-title,
html[lang="azb"] body.rtl .comments-title,
html[lang="azb"] body.rtl .comment-reply-title,
html[lang="azb"] body.rtl .comment-reply-link,
html[lang="azb"] body.rtl .comment-metadata,
html[lang="azb"] body.rtl .pingback .edit-link,
html[lang="azb"] body.rtl .comment-list .reply a,
html[lang="azb"] body.rtl .comment-form label,
html[lang="azb"] body.rtl .comment-notes,
html[lang="azb"] body.rtl .comment-awaiting-moderation,
html[lang="azb"] body.rtl .logged-in-as,
html[lang="azb"] body.rtl .form-allowed-tags,
html[lang="azb"] body.rtl .no-comments,
html[lang="azb"] body.rtl .wp-caption-text,
html[lang="azb"] body.rtl .gallery-caption,
html[lang="haz"] body.rtl button,
html[lang="haz"] body.rtl input[type="button"],
html[lang="haz"] body.rtl input[type="reset"],
html[lang="haz"] body.rtl input[type="submit"],
html[lang="haz"] body.rtl input,
html[lang="haz"] body.rtl select,
html[lang="haz"] body.rtl textarea,
html[lang="haz"] body.rtl blockquote cite,
html[lang="haz"] body.rtl blockquote small,
html[lang="haz"] body.rtl .post-password-form label,
html[lang="haz"] body.rtl .main-navigation .menu-item-description,
html[lang="haz"] body.rtl .post-navigation .meta-nav,
html[lang="haz"] body.rtl .post-navigation .post-title,
html[lang="haz"] body.rtl .pagination,
html[lang="haz"] body.rtl .image-navigation,
html[lang="haz"] body.rtl .comment-navigation,
html[lang="haz"] body.rtl .site-title,
html[lang="haz"] body.rtl .site-description,
html[lang="haz"] body.rtl .widget-title,
html[lang="haz"] body.rtl .widget_calendar caption,
html[lang="haz"] body.rtl .widget_rss .rss-date,
html[lang="haz"] body.rtl .widget_rss cite,
html[lang="haz"] body.rtl .author-heading,
html[lang="haz"] body.rtl .entry-footer,
html[lang="haz"] body.rtl .page-title,
html[lang="haz"] body.rtl .page-links,
html[lang="haz"] body.rtl .entry-caption,
html[lang="haz"] body.rtl .entry-title,
html[lang="haz"] body.rtl .comments-title,
html[lang="haz"] body.rtl .comment-reply-title,
html[lang="haz"] body.rtl .comment-reply-link,
html[lang="haz"] body.rtl .comment-metadata,
html[lang="haz"] body.rtl .pingback .edit-link,
html[lang="haz"] body.rtl .comment-list .reply a,
html[lang="haz"] body.rtl .comment-form label,
html[lang="haz"] body.rtl .comment-notes,
html[lang="haz"] body.rtl .comment-awaiting-moderation,
html[lang="haz"] body.rtl .logged-in-as,
html[lang="haz"] body.rtl .form-allowed-tags,
html[lang="haz"] body.rtl .no-comments,
html[lang="haz"] body.rtl .wp-caption-text,
html[lang="haz"] body.rtl .gallery-caption,
html[lang="ps"] body.rtl button,
html[lang="ps"] body.rtl input[type="button"],
html[lang="ps"] body.rtl input[type="reset"],
html[lang="ps"] body.rtl input[type="submit"],
html[lang="ps"] body.rtl input,
html[lang="ps"] body.rtl select,
html[lang="ps"] body.rtl textarea,
html[lang="ps"] body.rtl blockquote cite,
html[lang="ps"] body.rtl blockquote small,
html[lang="ps"] body.rtl .post-password-form label,
html[lang="ps"] body.rtl .main-navigation .menu-item-description,
html[lang="ps"] body.rtl .post-navigation .meta-nav,
html[lang="ps"] body.rtl .post-navigation .post-title,
html[lang="ps"] body.rtl .pagination,
html[lang="ps"] body.rtl .image-navigation,
html[lang="ps"] body.rtl .comment-navigation,
html[lang="ps"] body.rtl .site-title,
html[lang="ps"] body.rtl .site-description,
html[lang="ps"] body.rtl .widget-title,
html[lang="ps"] body.rtl .widget_calendar caption,
html[lang="ps"] body.rtl .widget_rss .rss-date,
html[lang="ps"] body.rtl .widget_rss cite,
html[lang="ps"] body.rtl .author-heading,
html[lang="ps"] body.rtl .entry-footer,
html[lang="ps"] body.rtl .page-title,
html[lang="ps"] body.rtl .page-links,
html[lang="ps"] body.rtl .entry-caption,
html[lang="ps"] body.rtl .entry-title,
html[lang="ps"] body.rtl .comments-title,
html[lang="ps"] body.rtl .comment-reply-title,
html[lang="ps"] body.rtl .comment-reply-link,
html[lang="ps"] body.rtl .comment-metadata,
html[lang="ps"] body.rtl .pingback .edit-link,
html[lang="ps"] body.rtl .comment-list .reply a,
html[lang="ps"] body.rtl .comment-form label,
html[lang="ps"] body.rtl .comment-notes,
html[lang="ps"] body.rtl .comment-awaiting-moderation,
html[lang="ps"] body.rtl .logged-in-as,
html[lang="ps"] body.rtl .form-allowed-tags,
html[lang="ps"] body.rtl .no-comments,
html[lang="ps"] body.rtl .wp-caption-text,
html[lang="ps"] body.rtl .gallery-caption,
html[lang="ur"] body.rtl button,
html[lang="ur"] body.rtl input[type="button"],
html[lang="ur"] body.rtl input[type="reset"],
html[lang="ur"] body.rtl input[type="submit"],
html[lang="ur"] body.rtl input,
html[lang="ur"] body.rtl select,
html[lang="ur"] body.rtl textarea,
html[lang="ur"] body.rtl blockquote cite,
html[lang="ur"] body.rtl blockquote small,
html[lang="ur"] body.rtl .post-password-form label,
html[lang="ur"] body.rtl .main-navigation .menu-item-description,
html[lang="ur"] body.rtl .post-navigation .meta-nav,
html[lang="ur"] body.rtl .post-navigation .post-title,
html[lang="ur"] body.rtl .pagination,
html[lang="ur"] body.rtl .image-navigation,
html[lang="ur"] body.rtl .comment-navigation,
html[lang="ur"] body.rtl .site-title,
html[lang="ur"] body.rtl .site-description,
html[lang="ur"] body.rtl .widget-title,
html[lang="ur"] body.rtl .widget_calendar caption,
html[lang="ur"] body.rtl .widget_rss .rss-date,
html[lang="ur"] body.rtl .widget_rss cite,
html[lang="ur"] body.rtl .author-heading,
html[lang="ur"] body.rtl .entry-footer,
html[lang="ur"] body.rtl .page-title,
html[lang="ur"] body.rtl .page-links,
html[lang="ur"] body.rtl .entry-caption,
html[lang="ur"] body.rtl .entry-title,
html[lang="ur"] body.rtl .comments-title,
html[lang="ur"] body.rtl .comment-reply-title,
html[lang="ur"] body.rtl .comment-reply-link,
html[lang="ur"] body.rtl .comment-metadata,
html[lang="ur"] body.rtl .pingback .edit-link,
html[lang="ur"] body.rtl .comment-list .reply a,
html[lang="ur"] body.rtl .comment-form label,
html[lang="ur"] body.rtl .comment-notes,
html[lang="ur"] body.rtl .comment-awaiting-moderation,
html[lang="ur"] body.rtl .logged-in-as,
html[lang="ur"] body.rtl .form-allowed-tags,
html[lang="ur"] body.rtl .no-comments,
html[lang="ur"] body.rtl .wp-caption-text,
html[lang="ur"] body.rtl .gallery-caption {
  font-family: IRANSans;
}

body.rtl.theme-hueman .site-title,
html[lang="fa-IR"] body.rtl.theme-hueman .site-title,
html[lang="ar"] body.rtl.theme-hueman .site-title,
html[lang="ary"] body.rtl.theme-hueman .site-title,
html[lang="azb"] body.rtl.theme-hueman .site-title,
html[lang="haz"] body.rtl.theme-hueman .site-title,
html[lang="ps"] body.rtl.theme-hueman .site-title,
html[lang="ur"] body.rtl.theme-hueman .site-title {
  float: right;
}

body.rtl.theme-hueman .site-description,
html[lang="fa-IR"] body.rtl.theme-hueman .site-description,
html[lang="ar"] body.rtl.theme-hueman .site-description,
html[lang="ary"] body.rtl.theme-hueman .site-description,
html[lang="azb"] body.rtl.theme-hueman .site-description,
html[lang="haz"] body.rtl.theme-hueman .site-description,
html[lang="ps"] body.rtl.theme-hueman .site-description,
html[lang="ur"] body.rtl.theme-hueman .site-description {
  float: right;
  margin-left: 0;
  margin-right: 20px;
}

body.rtl.theme-hueman .toggle-search,
html[lang="fa-IR"] body.rtl.theme-hueman .toggle-search,
html[lang="ar"] body.rtl.theme-hueman .toggle-search,
html[lang="ary"] body.rtl.theme-hueman .toggle-search,
html[lang="azb"] body.rtl.theme-hueman .toggle-search,
html[lang="haz"] body.rtl.theme-hueman .toggle-search,
html[lang="ps"] body.rtl.theme-hueman .toggle-search,
html[lang="ur"] body.rtl.theme-hueman .toggle-search {
  right: auto;
  left: 0;
}

body.rtl.theme-hueman .search-expand,
html[lang="fa-IR"] body.rtl.theme-hueman .search-expand,
html[lang="ar"] body.rtl.theme-hueman .search-expand,
html[lang="ary"] body.rtl.theme-hueman .search-expand,
html[lang="azb"] body.rtl.theme-hueman .search-expand,
html[lang="haz"] body.rtl.theme-hueman .search-expand,
html[lang="ps"] body.rtl.theme-hueman .search-expand,
html[lang="ur"] body.rtl.theme-hueman .search-expand {
  right: auto;
  left: 0;
}

body.rtl.theme-hueman .widget > div > ul li a:before, body.rtl.theme-hueman .widget > ul li a:before, body.rtl.theme-hueman .widget > ul li:before, body.rtl.theme-hueman .widget_calendar caption:before,
html[lang="fa-IR"] body.rtl.theme-hueman .widget > div > ul li a:before,
html[lang="fa-IR"] body.rtl.theme-hueman .widget > ul li a:before,
html[lang="fa-IR"] body.rtl.theme-hueman .widget > ul li:before,
html[lang="fa-IR"] body.rtl.theme-hueman .widget_calendar caption:before,
html[lang="ar"] body.rtl.theme-hueman .widget > div > ul li a:before,
html[lang="ar"] body.rtl.theme-hueman .widget > ul li a:before,
html[lang="ar"] body.rtl.theme-hueman .widget > ul li:before,
html[lang="ar"] body.rtl.theme-hueman .widget_calendar caption:before,
html[lang="ary"] body.rtl.theme-hueman .widget > div > ul li a:before,
html[lang="ary"] body.rtl.theme-hueman .widget > ul li a:before,
html[lang="ary"] body.rtl.theme-hueman .widget > ul li:before,
html[lang="ary"] body.rtl.theme-hueman .widget_calendar caption:before,
html[lang="azb"] body.rtl.theme-hueman .widget > div > ul li a:before,
html[lang="azb"] body.rtl.theme-hueman .widget > ul li a:before,
html[lang="azb"] body.rtl.theme-hueman .widget > ul li:before,
html[lang="azb"] body.rtl.theme-hueman .widget_calendar caption:before,
html[lang="haz"] body.rtl.theme-hueman .widget > div > ul li a:before,
html[lang="haz"] body.rtl.theme-hueman .widget > ul li a:before,
html[lang="haz"] body.rtl.theme-hueman .widget > ul li:before,
html[lang="haz"] body.rtl.theme-hueman .widget_calendar caption:before,
html[lang="ps"] body.rtl.theme-hueman .widget > div > ul li a:before,
html[lang="ps"] body.rtl.theme-hueman .widget > ul li a:before,
html[lang="ps"] body.rtl.theme-hueman .widget > ul li:before,
html[lang="ps"] body.rtl.theme-hueman .widget_calendar caption:before,
html[lang="ur"] body.rtl.theme-hueman .widget > div > ul li a:before,
html[lang="ur"] body.rtl.theme-hueman .widget > ul li a:before,
html[lang="ur"] body.rtl.theme-hueman .widget > ul li:before,
html[lang="ur"] body.rtl.theme-hueman .widget_calendar caption:before {
  margin-left: 6px;
  margin-right: 0;
}

body.rtl.theme-hueman .widget_meta > ul > li a:before,
html[lang="fa-IR"] body.rtl.theme-hueman .widget_meta > ul > li a:before,
html[lang="ar"] body.rtl.theme-hueman .widget_meta > ul > li a:before,
html[lang="ary"] body.rtl.theme-hueman .widget_meta > ul > li a:before,
html[lang="azb"] body.rtl.theme-hueman .widget_meta > ul > li a:before,
html[lang="haz"] body.rtl.theme-hueman .widget_meta > ul > li a:before,
html[lang="ps"] body.rtl.theme-hueman .widget_meta > ul > li a:before,
html[lang="ur"] body.rtl.theme-hueman .widget_meta > ul > li a:before {
  content: "\f0d9";
}

body.rtl.theme-hueman .post-comments i,
html[lang="fa-IR"] body.rtl.theme-hueman .post-comments i,
html[lang="ar"] body.rtl.theme-hueman .post-comments i,
html[lang="ary"] body.rtl.theme-hueman .post-comments i,
html[lang="azb"] body.rtl.theme-hueman .post-comments i,
html[lang="haz"] body.rtl.theme-hueman .post-comments i,
html[lang="ps"] body.rtl.theme-hueman .post-comments i,
html[lang="ur"] body.rtl.theme-hueman .post-comments i {
  margin-right: 0;
  margin-left: 3px;
}

body.rtl.theme-hueman .image-caption, body.rtl.theme-hueman .page-title i,
html[lang="fa-IR"] body.rtl.theme-hueman .image-caption,
html[lang="fa-IR"] body.rtl.theme-hueman .page-title i,
html[lang="ar"] body.rtl.theme-hueman .image-caption,
html[lang="ar"] body.rtl.theme-hueman .page-title i,
html[lang="ary"] body.rtl.theme-hueman .image-caption,
html[lang="ary"] body.rtl.theme-hueman .page-title i,
html[lang="azb"] body.rtl.theme-hueman .image-caption,
html[lang="azb"] body.rtl.theme-hueman .page-title i,
html[lang="haz"] body.rtl.theme-hueman .image-caption,
html[lang="haz"] body.rtl.theme-hueman .page-title i,
html[lang="ps"] body.rtl.theme-hueman .image-caption,
html[lang="ps"] body.rtl.theme-hueman .page-title i,
html[lang="ur"] body.rtl.theme-hueman .image-caption,
html[lang="ur"] body.rtl.theme-hueman .page-title i {
  margin-left: 8px;
  margin-right: 0;
}

body.rtl.theme-hueman .post-tags a,
html[lang="fa-IR"] body.rtl.theme-hueman .post-tags a,
html[lang="ar"] body.rtl.theme-hueman .post-tags a,
html[lang="ary"] body.rtl.theme-hueman .post-tags a,
html[lang="azb"] body.rtl.theme-hueman .post-tags a,
html[lang="haz"] body.rtl.theme-hueman .post-tags a,
html[lang="ps"] body.rtl.theme-hueman .post-tags a,
html[lang="ur"] body.rtl.theme-hueman .post-tags a {
  margin: 0 0 2px 5px;
}

body.rtl.theme-hueman .comment-tabs li i, body.rtl.theme-hueman .commentlist .comment-author, body.rtl.theme-hueman .entry.woocommerce div.product .woocommerce-tabs ul.tabs li i,
html[lang="fa-IR"] body.rtl.theme-hueman .comment-tabs li i,
html[lang="fa-IR"] body.rtl.theme-hueman .commentlist .comment-author,
html[lang="fa-IR"] body.rtl.theme-hueman .entry.woocommerce div.product .woocommerce-tabs ul.tabs li i,
html[lang="ar"] body.rtl.theme-hueman .comment-tabs li i,
html[lang="ar"] body.rtl.theme-hueman .commentlist .comment-author,
html[lang="ar"] body.rtl.theme-hueman .entry.woocommerce div.product .woocommerce-tabs ul.tabs li i,
html[lang="ary"] body.rtl.theme-hueman .comment-tabs li i,
html[lang="ary"] body.rtl.theme-hueman .commentlist .comment-author,
html[lang="ary"] body.rtl.theme-hueman .entry.woocommerce div.product .woocommerce-tabs ul.tabs li i,
html[lang="azb"] body.rtl.theme-hueman .comment-tabs li i,
html[lang="azb"] body.rtl.theme-hueman .commentlist .comment-author,
html[lang="azb"] body.rtl.theme-hueman .entry.woocommerce div.product .woocommerce-tabs ul.tabs li i,
html[lang="haz"] body.rtl.theme-hueman .comment-tabs li i,
html[lang="haz"] body.rtl.theme-hueman .commentlist .comment-author,
html[lang="haz"] body.rtl.theme-hueman .entry.woocommerce div.product .woocommerce-tabs ul.tabs li i,
html[lang="ps"] body.rtl.theme-hueman .comment-tabs li i,
html[lang="ps"] body.rtl.theme-hueman .commentlist .comment-author,
html[lang="ps"] body.rtl.theme-hueman .entry.woocommerce div.product .woocommerce-tabs ul.tabs li i,
html[lang="ur"] body.rtl.theme-hueman .comment-tabs li i,
html[lang="ur"] body.rtl.theme-hueman .commentlist .comment-author,
html[lang="ur"] body.rtl.theme-hueman .entry.woocommerce div.product .woocommerce-tabs ul.tabs li i {
  margin-right: 0;
  margin-left: 6px;
}

body.rtl.theme-hueman .comment-tabs li span,
html[lang="fa-IR"] body.rtl.theme-hueman .comment-tabs li span,
html[lang="ar"] body.rtl.theme-hueman .comment-tabs li span,
html[lang="ary"] body.rtl.theme-hueman .comment-tabs li span,
html[lang="azb"] body.rtl.theme-hueman .comment-tabs li span,
html[lang="haz"] body.rtl.theme-hueman .comment-tabs li span,
html[lang="ps"] body.rtl.theme-hueman .comment-tabs li span,
html[lang="ur"] body.rtl.theme-hueman .comment-tabs li span {
  margin-right: 8px;
  margin-left: 0;
}

body.rtl.theme-hueman .commentlist .comment-author, body.rtl.theme-hueman .commentlist .comment-awaiting-moderation, body.rtl.theme-hueman .commentlist .comment-meta,
html[lang="fa-IR"] body.rtl.theme-hueman .commentlist .comment-author,
html[lang="fa-IR"] body.rtl.theme-hueman .commentlist .comment-awaiting-moderation,
html[lang="fa-IR"] body.rtl.theme-hueman .commentlist .comment-meta,
html[lang="ar"] body.rtl.theme-hueman .commentlist .comment-author,
html[lang="ar"] body.rtl.theme-hueman .commentlist .comment-awaiting-moderation,
html[lang="ar"] body.rtl.theme-hueman .commentlist .comment-meta,
html[lang="ary"] body.rtl.theme-hueman .commentlist .comment-author,
html[lang="ary"] body.rtl.theme-hueman .commentlist .comment-awaiting-moderation,
html[lang="ary"] body.rtl.theme-hueman .commentlist .comment-meta,
html[lang="azb"] body.rtl.theme-hueman .commentlist .comment-author,
html[lang="azb"] body.rtl.theme-hueman .commentlist .comment-awaiting-moderation,
html[lang="azb"] body.rtl.theme-hueman .commentlist .comment-meta,
html[lang="haz"] body.rtl.theme-hueman .commentlist .comment-author,
html[lang="haz"] body.rtl.theme-hueman .commentlist .comment-awaiting-moderation,
html[lang="haz"] body.rtl.theme-hueman .commentlist .comment-meta,
html[lang="ps"] body.rtl.theme-hueman .commentlist .comment-author,
html[lang="ps"] body.rtl.theme-hueman .commentlist .comment-awaiting-moderation,
html[lang="ps"] body.rtl.theme-hueman .commentlist .comment-meta,
html[lang="ur"] body.rtl.theme-hueman .commentlist .comment-author,
html[lang="ur"] body.rtl.theme-hueman .commentlist .comment-awaiting-moderation,
html[lang="ur"] body.rtl.theme-hueman .commentlist .comment-meta {
  float: right;
}

body.rtl.theme-hueman .commentlist li, body.rtl.theme-hueman .pinglist li,
html[lang="fa-IR"] body.rtl.theme-hueman .commentlist li,
html[lang="fa-IR"] body.rtl.theme-hueman .pinglist li,
html[lang="ar"] body.rtl.theme-hueman .commentlist li,
html[lang="ar"] body.rtl.theme-hueman .pinglist li,
html[lang="ary"] body.rtl.theme-hueman .commentlist li,
html[lang="ary"] body.rtl.theme-hueman .pinglist li,
html[lang="azb"] body.rtl.theme-hueman .commentlist li,
html[lang="azb"] body.rtl.theme-hueman .pinglist li,
html[lang="haz"] body.rtl.theme-hueman .commentlist li,
html[lang="haz"] body.rtl.theme-hueman .pinglist li,
html[lang="ps"] body.rtl.theme-hueman .commentlist li,
html[lang="ps"] body.rtl.theme-hueman .pinglist li,
html[lang="ur"] body.rtl.theme-hueman .commentlist li,
html[lang="ur"] body.rtl.theme-hueman .pinglist li {
  padding-left: 0;
  padding-right: 60px;
}

body.rtl.theme-hueman .commentlist .avatar,
html[lang="fa-IR"] body.rtl.theme-hueman .commentlist .avatar,
html[lang="ar"] body.rtl.theme-hueman .commentlist .avatar,
html[lang="ary"] body.rtl.theme-hueman .commentlist .avatar,
html[lang="azb"] body.rtl.theme-hueman .commentlist .avatar,
html[lang="haz"] body.rtl.theme-hueman .commentlist .avatar,
html[lang="ps"] body.rtl.theme-hueman .commentlist .avatar,
html[lang="ur"] body.rtl.theme-hueman .commentlist .avatar {
  left: auto;
  right: -60px;
}

body.rtl.theme-hueman .commentlist li li.bypostauthor > .comment-body:after, body.rtl.theme-hueman .commentlist li li.comment-author-admin > .comment-body:after,
html[lang="fa-IR"] body.rtl.theme-hueman .commentlist li li.bypostauthor > .comment-body:after,
html[lang="fa-IR"] body.rtl.theme-hueman .commentlist li li.comment-author-admin > .comment-body:after,
html[lang="ar"] body.rtl.theme-hueman .commentlist li li.bypostauthor > .comment-body:after,
html[lang="ar"] body.rtl.theme-hueman .commentlist li li.comment-author-admin > .comment-body:after,
html[lang="ary"] body.rtl.theme-hueman .commentlist li li.bypostauthor > .comment-body:after,
html[lang="ary"] body.rtl.theme-hueman .commentlist li li.comment-author-admin > .comment-body:after,
html[lang="azb"] body.rtl.theme-hueman .commentlist li li.bypostauthor > .comment-body:after,
html[lang="azb"] body.rtl.theme-hueman .commentlist li li.comment-author-admin > .comment-body:after,
html[lang="haz"] body.rtl.theme-hueman .commentlist li li.bypostauthor > .comment-body:after,
html[lang="haz"] body.rtl.theme-hueman .commentlist li li.comment-author-admin > .comment-body:after,
html[lang="ps"] body.rtl.theme-hueman .commentlist li li.bypostauthor > .comment-body:after,
html[lang="ps"] body.rtl.theme-hueman .commentlist li li.comment-author-admin > .comment-body:after,
html[lang="ur"] body.rtl.theme-hueman .commentlist li li.bypostauthor > .comment-body:after,
html[lang="ur"] body.rtl.theme-hueman .commentlist li li.comment-author-admin > .comment-body:after {
  left: auto;
  right: -26px;
}

@media only screen and (min-width: 720px) {
  body.rtl.theme-hueman .nav > li > a::after,
html[lang="fa-IR"] body.rtl.theme-hueman .nav > li > a::after,
html[lang="ar"] body.rtl.theme-hueman .nav > li > a::after,
html[lang="ary"] body.rtl.theme-hueman .nav > li > a::after,
html[lang="azb"] body.rtl.theme-hueman .nav > li > a::after,
html[lang="haz"] body.rtl.theme-hueman .nav > li > a::after,
html[lang="ps"] body.rtl.theme-hueman .nav > li > a::after,
html[lang="ur"] body.rtl.theme-hueman .nav > li > a::after {
    margin-right: 6px;
    margin-left: 0;
    content: "\f0d7";
  }
  body.rtl.theme-hueman .nav > li > a:only-child::after,
html[lang="fa-IR"] body.rtl.theme-hueman .nav > li > a:only-child::after,
html[lang="ar"] body.rtl.theme-hueman .nav > li > a:only-child::after,
html[lang="ary"] body.rtl.theme-hueman .nav > li > a:only-child::after,
html[lang="azb"] body.rtl.theme-hueman .nav > li > a:only-child::after,
html[lang="haz"] body.rtl.theme-hueman .nav > li > a:only-child::after,
html[lang="ps"] body.rtl.theme-hueman .nav > li > a:only-child::after,
html[lang="ur"] body.rtl.theme-hueman .nav > li > a:only-child::after {
    content: "";
    margin: 0;
  }
  body.rtl.theme-hueman .nav ul,
html[lang="fa-IR"] body.rtl.theme-hueman .nav ul,
html[lang="ar"] body.rtl.theme-hueman .nav ul,
html[lang="ary"] body.rtl.theme-hueman .nav ul,
html[lang="azb"] body.rtl.theme-hueman .nav ul,
html[lang="haz"] body.rtl.theme-hueman .nav ul,
html[lang="ps"] body.rtl.theme-hueman .nav ul,
html[lang="ur"] body.rtl.theme-hueman .nav ul {
    left: auto;
    right: 0;
  }
  body.rtl.theme-hueman .nav ul li > a::after,
html[lang="fa-IR"] body.rtl.theme-hueman .nav ul li > a::after,
html[lang="ar"] body.rtl.theme-hueman .nav ul li > a::after,
html[lang="ary"] body.rtl.theme-hueman .nav ul li > a::after,
html[lang="azb"] body.rtl.theme-hueman .nav ul li > a::after,
html[lang="haz"] body.rtl.theme-hueman .nav ul li > a::after,
html[lang="ps"] body.rtl.theme-hueman .nav ul li > a::after,
html[lang="ur"] body.rtl.theme-hueman .nav ul li > a::after {
    content: "\f0d9";
    float: left;
  }
  body.rtl.theme-hueman .nav ul li > a:only-child::after,
html[lang="fa-IR"] body.rtl.theme-hueman .nav ul li > a:only-child::after,
html[lang="ar"] body.rtl.theme-hueman .nav ul li > a:only-child::after,
html[lang="ary"] body.rtl.theme-hueman .nav ul li > a:only-child::after,
html[lang="azb"] body.rtl.theme-hueman .nav ul li > a:only-child::after,
html[lang="haz"] body.rtl.theme-hueman .nav ul li > a:only-child::after,
html[lang="ps"] body.rtl.theme-hueman .nav ul li > a:only-child::after,
html[lang="ur"] body.rtl.theme-hueman .nav ul li > a:only-child::after {
    content: "";
    margin: 0;
  }
  body.rtl.theme-hueman .nav ul ul,
html[lang="fa-IR"] body.rtl.theme-hueman .nav ul ul,
html[lang="ar"] body.rtl.theme-hueman .nav ul ul,
html[lang="ary"] body.rtl.theme-hueman .nav ul ul,
html[lang="azb"] body.rtl.theme-hueman .nav ul ul,
html[lang="haz"] body.rtl.theme-hueman .nav ul ul,
html[lang="ps"] body.rtl.theme-hueman .nav ul ul,
html[lang="ur"] body.rtl.theme-hueman .nav ul ul {
    left: auto;
    right: 180px;
  }
}
