body.rtl,
html[lang="fa-IR"] body.rtl,
html[lang="ar"] body.rtl,
html[lang="ary"] body.rtl,
html[lang="azb"] body.rtl,
html[lang="haz"] body.rtl,
html[lang="ps"] body.rtl,
html[lang="ur"] body.rtl
{
  font-family: IRANSans , Tahoma, Arial, sans-serif;
  button, input[type="button"],
  input[type="reset"],
  input[type="submit"],
  input,
  select,
  textarea,
  blockquote cite,
  blockquote small,
  .post-password-form label,
  .main-navigation .menu-item-description,
  .post-navigation .meta-nav, .post-navigation .post-title,
  .pagination,
  .image-navigation,
  .comment-navigation,
  .site-title,
  .site-description,
  .widget-title,
  .widget_calendar caption,
  .widget_rss .rss-date,
  .widget_rss cite,
  .author-heading,
  .entry-footer,
  .page-title,
  .page-links,
  .entry-caption,
  .entry-title,
  .comments-title,
  .comment-reply-title,
  .comment-reply-link,
  .comment-metadata,
  .pingback .edit-link,
  .comment-list .reply a,
  .comment-form label,
  .comment-notes,
  .comment-awaiting-moderation,
  .logged-in-as, .form-allowed-tags,
  .no-comments, .wp-caption-text,
  .gallery-caption {
    font-family: IRANSans;
  }
  &.theme-hueman{
    .site-title{
      float: right;
    }
    .site-description{
      float: right;
      margin-left:0;
      margin-right:20px;
    }

    .toggle-search{
      right: auto;
      left: 0;
    }
    .search-expand{
      right: auto;
      left: 0;
    }
    .widget>div>ul li a:before, .widget>ul li a:before, .widget>ul li:before, .widget_calendar caption:before{
      margin-left: 6px;
      margin-right:0;
    }
    .widget_meta>ul>li a:before {
      content: "\f0d9";
    }

    .post-comments i{
      margin-right:0;
      margin-left:3px;
    }
    .image-caption, .page-title i{
      margin-left:8px;
      margin-right:0;
    }
    .post-tags a{
      margin:0 0 2px 5px;
    }
    .comment-tabs li i, .commentlist .comment-author, .entry.woocommerce div.product .woocommerce-tabs ul.tabs li i{
      margin-right:0;
      margin-left:6px;
    }
    .comment-tabs li span{
      margin-right:8px;
      margin-left:0;
    }
    .commentlist .comment-author, .commentlist .comment-awaiting-moderation, .commentlist .comment-meta{
      float: right;
    }
    .commentlist li, .pinglist li{
      padding-left:0;
      padding-right:60px;
    }
    .commentlist .avatar{
      left:auto;
      right:-60px;
    }
    .commentlist li li.bypostauthor>.comment-body:after, .commentlist li li.comment-author-admin>.comment-body:after{
      left:auto;
      right:-26px;
    }

    @media only screen and (min-width: 720px){
      .nav{
        >li > a{
          &::after{
            margin-right: 6px;
            margin-left: 0;
            content: "\f0d7";
          }
          &:only-child::after{
            content: "";
            margin: 0;
          }
        }
        
        ul{
          left: auto;
          right: 0;
          li > a{
            &::after{
              content: "\f0d9";
              float: left;
            }
            &:only-child::after{
              content: "";
              margin: 0;
            }
          }
          
          ul{
            left: auto;
            right: 180px;
            
          }
        }
      }
    }
    

  }

}